@model BTLNhapMonCNPM.Models.Views.DrinkCategoriesViewModel;

@{
    ViewData["Title"] = "Edit Drink";
}

<input type="text" id="drinkId" value="@Model.Drink.Id" hidden>

<main class="p-5 flex flex-col gap-4">
    <div id="imageSection" class="cursor-pointer flex gap-4 flex-wrap">
        @foreach (var image in Model.Drink.Images.ToArray())
        {
            <div>
                <img src=@image.Url alt="" class="h-20 w-20 image" id="idImage-@image.Id">
            </div>
        }

        <div class="font-medium text-primary" id="addImage">
            Add image
            <input type="file" hidden id="files" accept="image/*">
        </div>
    </div>

    <div>
        <label for="name">Tên đồ uống</label>
        <input type="text" id="name" class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3"
            value="@Model.Drink.Name">
    </div>
    <div>
        <label for="price">Giá</label>
        <input type="number" id='price' class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3"
            value="@Model.Drink.Price">
    </div>
    <div>
        <label for="comparePrice">Giá sau khi giảm</label>
        <input type="number" id='comparePrice'
            class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3"
            value="@Model.Drink.ComparedPrice">
    </div>
    <div>
        <label for="description">Mô tả</label>
        <input type="text" id="description"
            class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3"
            value="@Model.Drink.Description">
    </div>
    <div>
        <label for="categoryId">Loại đồ uống</label>
        <select name="categoryId" id="categoryId"
            class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id" selected="@(category.Id == Model.Drink.Category.Id)">@category.Name</option>
            }
        </select>
    </div>

    <div>
        <button id="submit" class="bg-red-400 px-4 py-8 rounded-lg">Cập nhật</button>
    </div>
</main>



<script src="/js/editDrink.js"></script>
